@import "tailwindcss";

@theme {
  --color-ureport-blue: #0099DC;
  --color-ureport-dark: #1E293B;
  --color-ureport-gold: #F5A623;
  --color-ureport-light: #F0F9FF;
  --font-heading: 'Inter', sans-serif;
}
